.header
{
    display:flex;
    justify-content: space-around;
    align-items:center;
}
.logo, .search, .host{
    flex:none;
}
.host{
    margin-left:auto;
}
.logo, .host{
    padding:20px 30px;
}
.search {
    display: flex;
    width: 400px;
    padding: 14px 0;
    margin: 0 auto;
}
.search_input{
    border:none;
    color: white;
    padding:8px;
   
    font-size: 16px;
    margin:2px 2px;
    border-radius: 38px;
    box-shadow: 1px 1px 1px 1px gray

}

.left_btn{
    border:none;
    color: white;
    padding:8px;
    margin:2px 2px;
    border-radius: 38px;
    box-shadow: 1px 1px 1px 1px gray;
    

}
input{
    flex: 1;
    width: 322px;
    height: 37px;
    background-color: white;
}
