.header
{
    display:flex;
    height: 80px;
    justify-content: space-between;
    align-items:center;
    padding: 0px 24px;
    box-shadow: rgba(0,0,0,0.08) 0px 1px 12px;
}
.logo,.left_nav{
    flex:none;
    padding:20px 30px;
}
.left_nav{
    margin-left:auto;
}
.header_host{
    border-radius: 23px;
    border:none;
    outline:none;
    background-color: white;
}
input{
    flex: 1;
    width: 322px;
    height: 37px;
    background-color: white;
}
