
*{
    box-sizing: border-box;
}
h1{
    display: block;
    font-size: 2em;

    font-weight: bold;
}
body{
    color:rgb(34,34,34);
    font-family: 'Circular Book';
    margin:0;
    font-size:14px;
    letter-spacing: normal;
    line-height: 18px;
    -webkit-font-smooting:antialiased;
}
.top{
    padding:0 80px;
}

